/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-elem {
  display: block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  border-radius: 0.25rem;
  color: #fff;
}

.navbar-elem:hover {
  background-color: gray;
  color: #fff;
}
